<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="RestTutorial.Service1" behaviorConfiguration="RestTutorial.Service1">
        <endpoint
              binding="webHttpBinding"
              contract="RestTutorial.IService1"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RestTutorial.Service1">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>